h1 {
    background-color: tomato;
    color: RED
}
h3 {
    background-color: teal;
    color:lightgreen;
}
h4 {
    color:slateblue;
}
button {
    margin: 15px;
    color:black;
    padding: 6px 12px;
    background-image: linear-gradient(orange, green);
    border: 5px solid yellow;
    border-radius: 15px;

}
p {
    background-color: dodgerblue;
    color:gold;
}
input {
    color:green;
}